Backend/web/.idea/workspace.xml
Backend/web/.idea/misc.xml
Model/.idea/workspace.xml
Model/out
Model/src/Testing.java
FrontendConsole/out

#Please tell me that works:
**/.idea/workspace.xml
Backend/web/testing.html
*.class
*.xml
