.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

html,
body {
    height: 100%;
    background: url("../media/83744.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#gamewindow {
    position: relative;
    width: calc(100% - 100px);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#cardsComeCenter {
    position: relative;
    height: 250px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
}

#menu {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    text-align: center;
    padding: 0px;
    background-image: url("../media/logodominion.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 185px;
}

#menu li {
    list-style: none;
    margin-bottom: 20px;
}

#menu ul {
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    /*background-color: rgba(0, 0, 0, 0.4);*/
}

#menu h1 {
    font-family: sans-serif;
}

div.site-wrapper-inner {
    padding-top: 0 !important;
    display: block;
    margin-top: 128px;
}

.shadow {
    display: inline-block;
    -webkit-box-shadow: -8px 8px 16px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: -8px 8px 16px 0px rgba(0, 0, 0, 1);
    box-shadow: -8px 8px 8px rgba(255, 255, 255, 1);
}

.btn-default {
    border-radius: 0;
    display: inline-block;
    height: 56px;
    line-height: 34px;
    position: relative;
    color: #111 !important;
    text-align: center;
    width: 456px;
    border: none;
    margin: 0;
    background-color: transparent !important;
    background-image: url("../media/flag_n.png");
}

.btn-default:hover, .btn-default:active {
    color: white !important;
    background-color: transparent !important;
    background-image: url("../media/flag.png");
}

.lead {
    width: 65%;
    margin-left: auto;
    margin-right: auto;

}

.eerste, .tweede, .derde {
    background-repeat: no-repeat;
    background-size: 32px;
    height: calc(100% - 20px);
    width: 10%;
    position: absolute;
    left: 10px;
    top: 10px;
}

.eerste {
    background-image: url("../../images/sword.png");
}

.tweede {
    background-image: url("../../images/trophy.png");
}

.derde {
    background-image: url("../../images/settings.png");
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('../../assets/media/ajax-loader.gif') 50% 50% no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}

/*#hand {
    height: 280px;
    width: 660px; /*180 + (aantalKaarten - 1) * 80    of     aantalKaarten * 80 + 100
    background-repeat: no-repeat;
    bottom: 1%;
    left: calc(50% - 330px);
    position: absolute;

}*/

/*#hand>li { float: left; }*/

#hand {
    height: 249px;
    width: 100%;
    position: fixed;
    bottom: 0;

}

#hand li, #cardsComeCenter li {
    /*position: absolute;*/
    /*width: 180px;
    height: 280px;*/
    width: 158px;
    height: 249px;
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    left: 0;
    margin: 0;
    background-size: contain;
    transition: width 5s;
}

/*#hand li img {
    /*height: 280px;
    width: 180px;

}*/

#hand li.hoveredcard {
    z-index: 1000 !important;
    box-shadow: 0 0 8px 4px green !important;
}

#hand li.ui-sortable-helper {
    box-shadow: 0 0 8px 4px green !important;
}

#hand li.hoveredcard img {
    /*height: 270px;
    width: 180px;
    */
}

#coins {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 150px;
    text-decoration: none;
    list-style: none;
}

#topstates {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: -20px;
    text-decoration: none;
    list-style: none;
}

#topstates img, #coins img {
    width: 130px;
}

div.kingdomcard {
    display: inline-block;
    width: 140px;
    height: 120px;
    border: 2px solid black;
    padding: 3px;
    background-color: black;
    border-radius: 16px;
}

div.kingdomcard-top {
    background-image: url("../../images/Smithy.jpg");
    width: 100%;
    height: 80%;
    background-size: 100%;
}

div.kingdomcard-bottom {
    background-image: url("../../images/Smithy.jpg");
    width: 100%;
    height: 20%;
    background-size: 100%;
    background-position: bottom center;
}

#kingdomcards {
    display: inline-block;
    margin: 0;
    width: 740px;
}

#kingdomcards ul {
    padding: 0;
    list-style-type: none;
}

#kingdomcards ul li {
    display: inline-block;
    margin-right: 8px;
}

#form {
    border-radius: 0;
    display: inline-block;
    height: 40px;
    line-height: 34px;
    color: black !important;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width: 25%;

}



input[type="text"], input[type="email"], input[type="password"], .form-control {
    background-color:#3c3c3c;
    opacity: 0.8;
    /*color: white;*/
    color: lightgray; !important

}
/*.form-group {
    color: lightgray; !important
}
*/


#name {
}

span {
    color:red;
}

.form-group
 {

 }

::-webkit-input-placeholder {
    color: lightgray !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: lightgray !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: lightgray !important;
}

:-ms-input-placeholder {
    color: lightgray !important;
}

input {
    color: white !important;
}