.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

html,
body {
    height: 100%;
    background: url("../media/83744.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Georgia, serif;
}

body.game {
    background: url("../media/game_back.jpg") no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.myturn {
    box-shadow: inset 0 0 64px 16px rgba(0, 150, 25, 0.5);
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}
.btn.btn-lg.btn-default {
    border-radius: 0;
    display: inline-block;
    height: 56px;
    line-height: 34px;
    position: relative;
    color: #111;
    text-align: center;
    min-width: 456px;
    border: none;
    margin: 0;
    background: transparent url("../media/flag_n.png");
}

.btn.btn-lg.btn-default:hover, .btn.btn-lg.btn-default:active {
    color: white;
    background-image: url("../media/flag.png");
}
.lead {
    min-width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.eerste, .tweede, .derde {
    background-repeat: no-repeat;
    background-size: 32px;
    height: calc(100% - 20px);
    min-width: 10%;
    position: absolute;
    left: 10px;
    top: 10px;
}

.eerste {
    background-image: url("../media/ui/button_play_n.png");
}

#play:hover strong.eerste {
    background-image: url("../media/ui/button_play.png");
}

.tweede {
    background-image: url("../media/ui/button_scores_n.png");
}

#highscores:hover strong.tweede {
    background-image: url("../media/ui/button_scores.png");
}

.derde {
    background-image: url("../media/ui/button_settings_n.png");
}

#settings:hover strong.derde {
    background-image: url("../media/ui/button_settings.png");
}
#menu {
    margin-left: auto;
    margin-right: auto;
    min-width: 550px;
    text-align: center;
    padding: 0;
    background-image: url("../media/logodominion.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 185px;
}

#menu li {
    list-style: none;
    margin-bottom: 20px;
}

#menu ul {
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

#menu h1 {
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: #000000 2px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;

}

.site-wrapper-inner {
    padding-top: 0;
    display: block;
    margin-top: 128px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('../../assets/media/ajax-loader.gif') 50% 50% no-repeat;
}

.shadow {
    display: inline-block;
    -webkit-box-shadow: -8px 8px 16px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: -8px 8px 16px 0 rgba(0, 0, 0, 1);
    box-shadow: -8px 8px 8px rgba(255, 255, 255, 1);
}

#form {
    border-radius: 0;
    display: inline-block;
    height: 40px;
    line-height: 34px;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 25%;

}

.form-control::-webkit-input-placeholder {
    color: lightgray;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: lightgray;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: lightgray;
}

.form-control:-ms-input-placeholder {
    color: lightgray;
}

.form-control {
    background-color: #3c3c3c;
    opacity: 0.8;
    color: white;
}

.control-label {
    color: white;
}

.control-label:after{
    content: " *";
    color: red;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#gamewindow {
    position: relative;
    min-width: calc(100% - 100px);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#card-info {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5);
}

#card-info img {
    border: 8px solid black;
    border-radius: 8px;
    min-width: 300px;
    height: 500px;
    margin-top: calc(25% - 250px);
}

#cardsComeCenter {
    position: relative;
    display: inline-block;
    width: auto;
    min-width: 110px;
    height: 180px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
    font-family: sans-serif;
}

#cardsComeCenter:empty:before {
    content: 'Drop your cards here';
    color: white;
    font-size: 1.5em;
    line-height: 164px;
}
#cardsComeCenter li {
    height: 180px;
    min-width: 110px;
    background-repeat: no-repeat;
}

#cardset {
    color: black;
}

#hand {
    text-align: center;
    bottom: 0;
    left: 0;
    padding: 0;
    width: auto;
    display: inline-block;
}

#hand li, #cardsComeCenter li {
    min-width: 158px;
    height: 249px;
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    left: 0;
    margin: 0;
    background-size: contain;
    transition: width 5s;
}

#hand li {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 2px 2px 10px #000;
    -webkit-box-shadow: 2px 2px 10px #000;
}

#handwrapper #handdecor #hand li.hoveredcard {
    z-index: 1000;
    box-shadow: 0 0 8px 4px green;
}

#handwrapper #handdecor #hand li.contextaware {
    z-index: 1000;
    box-shadow: 0 0 8px 4px white;
}

#handwrapper #handdecor #hand li.ui-sortable-helper {
    box-shadow: 0 0 8px 4px green;
}
#handwrapper {
    padding-left: 8px;
    padding-top: 8px;
    min-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 249px;
}

#handdecor {
    display: inline-block;
    padding: 8px;
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-top: none;
    position: relative;
}

#hand li:hover {
    -moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
}

#hand li {
    transition: height 0.5s;
}

#topstates, #coins {
    position: absolute;
    top: 0;
    text-decoration: none;
    list-style: none;
    z-index: 20;
}

#topstates {
    left: -20px;
}

#topstates img, #coins img {
    min-width: 130px;
}

#topstates figure, #coins figure {
    position: relative;
    min-width: 135px;
    height: 115px;
}
#topstates .amount, #coins .amount {
    right: 4px;
    top: 3px;
}

#coins {
    right: 20px;
}

#turn-buys .info {
    background: url("../media/ui/info_circle_buys.png") no-repeat top left;
}

#turn-coins .info {
    background: url("../media/ui/info_circle_coins.png") no-repeat top left;
}

.topcoins-title {
    right: 40px;
}

.topstates-title {
    left: 24px;
}

a.info {
    min-width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../media/ui/button_info.png") no-repeat top left;
    z-index: 25;
}

.kingdomcard {
    display: inline-block;
    min-width: 140px;
    height: 120px;
    border: 2px solid black;
    padding: 3px;
    background-color: black;
    border-radius: 16px;
    position: relative;
}

.kingdomcard .amount, #topstates .amount, #coins .amount {
    position: absolute;
    background: url("../media/ui/amount_circle.png") no-repeat top left;
    min-width: 40px;
    height: 45px;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 38px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    z-index: 30;
}

.kingdomcard-top {
    width: 100%;
    height: 80%;
    background-size: 100%;
}

.kingdomcard-bottom {
    width: 100%;
    height: 20%;
    background-size: 100%;
    background-position: bottom center;
}

#kingdomcards {
    display: inline-block;
    margin: 0;
    width: 740px;
}

#kingdomcards ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 4px;
}

#kingdomcards ul li {
    display: inline-block;
    margin-right: 8px;
}

#kingdomwrapper {
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-top: none;
    display: inline-block;
    padding-left: 8px;
    padding-top: 8px;
    position: relative;
    min-width: 756px;
}

.kingdomcard:hover a.info, #topstates li figure:hover a.info, #coins li figure:hover a.info {
    opacity: 1;
}

.kingdomcard:hover a.info, #topstates li figure:hover a.info, #coins li figure:hover a.info {
    opacity: 1;
}

a.info {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.nobuy {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.corner-topleft, .corner-topright {
    position: absolute;
    top: -32px;
    left: -3px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.6);
    min-width: calc(25% + 3px);
    height: 32px;
    display: inline-block;
}

.corner-topright {
    left: inherit;
    right: -3px;
}


.title {
    position: absolute;
    top: -36px;
    font-size: 2em;
    font-family: sans-serif;
}

.borderedtitle {
    left: 25%;
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-bottom: none;
    min-width: 132px;
    width: 50%;
    height: 36px;
    display: inline-block;
}

#game-over {
    display: none;
}

#game-over article {
    background-color: rgba(0, 0, 0, 0.5);
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

#game-over h2 {
    margin-bottom: 42px;
}

#game-over table {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    text-align: left;
    font-size: 1.5em;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    padding-top: 64px;
    background: url("../media/decoration.png") no-repeat;
    background-size: contain;
}

#game-over table th:nth-child(1), #game-over table td:nth-child(1) {
    min-width: 200px;
}

#game-over table thead {
    color: goldenrod;
}

#game-over tr td, #game-over tr th {
    padding: 8px;
}

#game-over tbody tr {
    color: #ff2f2f;
}

#game-over table tr.winner {
    color: limegreen;
}

#game-over table tr.me {
    background-color: rgba(162, 119, 28, 0.2);
}

#player-turninfo {
    position: absolute;
    top: 16px;
    left: 192px;
    width: auto;
    text-align: left;
}

#end-turn, #end-actions {
    bottom: calc(242px + 32px);
}

#end-turn, #play-treasures, #end-actions, #finish-discarding {
    position: absolute;
    right: 32px;
    display: inline-block;
    text-align: center;
    color: white;
    z-index: 1500;
    background-color: gray;
    background-image: url("../media/ui/button_dirtoverlay.png");
    font-size: 3rem;
    padding: 8px;
    min-width: 250px;
    height: 64px;
    border: none;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

#player-turninfo .info-sub {
    font-size: 2.5rem;
    margin-bottom: 8px;
}

#player-turninfo .info {
    min-width: 56px;
    height: 56px;
    background: url("../media/ui/info_circle.png") no-repeat top left;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    margin-right: 8px;
    line-height: 56px;
    text-align: center;
    display: inline-block;
    color: white;
}

#play-treasures:hover, #end-turn:hover, #finish-discarding:hover {
    opacity: 0.85;
}

#play-treasures, #finish-discarding {
    bottom: calc(178px + 16px);
}

#enternickname, #lobbyroom {
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    min-width: 250px;
}

#enternickname input {
    display: block;
    border: 2px solid gray;
    border-radius: 6px;
    padding-left: 2px;
    color: white;
    opacity: 1;
}

#enternickname a, #lobbyroom a {
    background-image: url("../media/flag_n.png");
    background-position: left center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 32px;
    width: 100%;
    padding-left: 8px;
    line-height: 32px;
    color: black;
    display: inline-block;
}

#enternickname a:hover, #lobbyroom a:hover {
    text-decoration: none;
    background-image: url("../media/flag.png");
    color: white;
}

#chat {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 500px;
    height: 178px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid gray;
    border-radius: 4px;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 2000;
}

#imgChat {
    background-image: url("../media/hideicon.png");
    background-repeat: no-repeat;
    background-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 40px;
    height: 40px;
}

#chat.visible {
    opacity: 1;
}

#chat .message-list {
    width: 100%;
    height: 124px;
    margin-bottom: 8px;
    padding-left: 0;
    overflow: auto;
}

#chat .compose-message {
    text-align: left;
    height: 32px;
}

#chat .compose-message input {
    display: inline-block;
    width: calc(100% - 49px);
    height: 32px;
    border: 2px solid gray;
    padding-left: 4px;
}

#chat .compose-message label {
    display: inline-block;
    min-width: 42px;
    height: 32px;
    line-height: 32px;
}

#chat .message-list li {
    list-style-type: none;
    text-align: left;
}

#imgVis {
    background-image: url("../media/visible.png");
    background-repeat: no-repeat;
    background-size: 40px;
    position: absolute;
    right: 0;
    bottom: 138px;
    background-color: rgba(255, 255, 255, 0.7);
    min-width: 40px;
    height: 40px;
    border-radius: 5px;
    z-index: 2000;
}

strong.username {
    color: dodgerblue;
    font-weight: bold;
    text-transform: capitalize;
}

strong.cardname {
    color: paleturquoise;
    font-weight: bold;
    font-style: italic;
}

strong.notice {
    color: goldenrod;
    font-weight: bold;
}

#current-player {
    position: absolute;
    bottom: 128px;
    font-size: 2.5rem;
    line-height: 56px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.3);
}

#current-player strong.playername {
    display: block;
    font-weight: bold;
}

#current-player.glow {
    box-shadow: 0 0 10px 5px rgba(0, 150, 0, 1);
    background-color: rgba(0, 150, 0, 0.3);
}